*{
    font-family: Impact;
    font-size: 16px;
    color: #383a48;
    /* border: 1px solid red; */
}

body{
    margin: 0 auto;
    background-color: #6ca39a;
    height: 100vh;
}

footer{
    text-align: center;
    background-color: #0b675c;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footerText {
    color: #fdaa67;
    letter-spacing: 1.2px;
    text-shadow: 1px 1px 0px rgba(56, 58, 72, 1);
    font-size: larger;
    margin: 20px;
    font-weight: lighter;
 }

header{
    background-color: #0b675c;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    align-items: center;
    background-color: #a6cdc4;
    width: 700px;
    margin: 0 auto;
    flex-direction: column;
    height: 100vh;
}


h1{
    color: #fdaa67;
    font-size: 4em;
    background-color: #0b675c;
    display: flex;
    position: relative;
    justify-content: center;
    text-shadow: 2px 2px 0px rgba(56, 58, 72, 1);
}

h2{
    text-align: center;
    font-size: 2.5em;
    background-color: #a6cdc4;
    margin: 0;
    padding: 30px 0;
    text-decoration-line: underline;
}
h2:hover{
    color: #fdaa67;
    text-shadow: 2px 2px 0px rgba(56, 58, 72, 1);
}

h3{
    text-align: center;
    font-size: 2em;
}

.submission{
    text-align: center;
}
.game{
    display: flex;
    align-items: center;
    background-color: #a6cdc4;
    justify-content: center;
    padding-bottom: 40px;
}
form{
    height: 100%;
    width: 300px;
}

.list{
    display: grid;
    grid-auto-flow: column;
}
img{
    display: flex;
    align-content: center;
}

#scheme {
    display: none;
}

.scoreText{
    font-size: 1.7em;
}
#winner{
    text-align: center;
    color: #fdaa67;
    text-shadow: 1px 1px 0px rgba(56, 58, 72, 1);
    font-size: 1.5em;
}

@media only screen and (max-width: 700px) {
    header{
        width: 100%;
    }
    h1{
        text-align: center;
    }
    img{
        max-width: 480px;
        width: auto;
    }
    main{
        margin: 0;
        width: auto;
    }
}
@media only screen and (max-width: 480px){
    img{
        width: 300px;
    }
    h1{
        text-align: center;
    }
}